h1 {
    text-align: center;
    border:10px solid rgb(105, 16, 16);
    margin: 50px;
    color: yellowgreen;
    background-color: darkgreen;
    font-style: italic;
    font-family: 'Redressed', cursive;
}

#AboutMeList {
    color: yellowgreen;
    background-color: rgb(105, 16, 16);
    border:5px solid rgb(3, 3, 53);
    font-family: 'Indie Flower', cursive;
}

#top10list {
    color: yellowgreen;
    background-color: rgb(105, 16, 16);
    border: 5px solid rgb(3, 3, 53);
    text-align: left;
    font-family: 'Indie Flower', cursive;

}

body {
    background-color: black;
}

#DN { 
  float: right;  
  max-width: 250px;
  max-height: 250px;
  margin-bottom: 20px;
  margin-left: 20px;
 margin-right: 20px;
 margin-top: 20px;
}

#IS {
    float: right;  
    max-width: 250px;
    max-height: 250px;
    margin-bottom: 20px;
    margin-left: 20px;
   margin-right: 20px;
   margin-top: 20px;
}

#SF {
    float: right;  
    max-width: 250px;
    max-height: 250px;
    margin-bottom: 20px;
    margin-left: 20px;
   margin-right: 20px;
   margin-top: 20px;
}

#LL {
    float: right;  
  max-width: 250px;
  max-height: 250px;
  margin-bottom: 20px;
  margin-left: 20px;
 margin-right: 20px;
 margin-top: 20px;
}

#Laith {
    float: right;  
  max-width: 115px;
  max-height: 115px;
  margin-bottom: 10px;
  margin-left: 0px;
 margin-right: 20px;
 margin-top: 0px;
}